.button-outline{
    background: transparent;
    border: 1.5px solid #333;
    border-radius: 3px;
    color: #333;
    opacity: .5;
    outline: none;
    padding: 7px 15px;
    transition: .25s all ease-in-out;
    align-self: center;
    &:hover{
        background: $red;
        border: 1.5px solid $red;
        color: $off-white;    }
}
.button-fill{
    @extend .button-outline;
    background: $blue;
    color: $off-white;
    border: 2px solid $blue;
    &:hover{
        background: transparent;
        border: 2px solid $blue;
        color: $blue;
        
    }
}
.button:disabled{ 
    border: 1px solid $dark-grey;
    color: #868686;
    transform: scale(1);
}
