.mobile-nav{
    background: #FFF;
    width: 100%;
    height: 75px;
    z-index: 1000;
    display: none;
}
.mobile-nav--dropDown-container{
    position: absolute;
    background: #FFF;
    top: 74px;
    bottom: 0;
    left: 0;
    right: 0;
    height: auto;
    width: 100%;
    overflow: hidden;
    z-index: 999;
    transform: translate(0,-100%);
    transition: all .35s ease-in-out;
    display: none;
    .mobile-nav--dropDown-menu--auth-actions{
        border-radius: 5px;
        height: 100%;
        width: 100%;
        background-color: transparent;
        position: absolute;
        bottom: 0;
        right:0;
        transition: all .35s ease-in-out;
        transform: translate(0, 100%);
    }
}
.mobile-nav--dropDown-menu{
    display: none;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100vh;
    background: $dark-grey;
    width: 100%;
    opacity: 0;
    z-index: 1000;
    transform: translate(0, -100%);
    transition: .35s all ease;
}
.mobile--nav--settings--container{
    height: 100%;
    background: #FFF;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.mobile-nav--dropDown-container{
    display: none;
}
.mobile-nav--greeting-box{
   width: 65%;
   height: auto;
   bottom: 0;
   position: absolute;
}
.mobile-nav--greeting-box--image{
    img{
        height: 50px;
        width: 50px;
    }
}
.mobile-nav--greeting-box-info{
    span{
        font-size: 1rem;
    }
}
.inner-burger{
    z-index: 1001;
    width: 25px!important;
    height: 15px;
}
.header--burger-container{
    position: absolute;
    right: 15px;
    display: none;
    align-items: center;
    justify-content: flex-end;
    height: 100%;
    z-index: 1001;
}
.mobile-nav--burger{
    width: 25px!important;

}
.mobile-nav--links{
    ul{
        height: 100%;
        width: 80%;
        margin: 0 auto;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        text-align: center;
        padding: unset;
        li{
            flex-basis: 50%;
        } 
    }
}
.fa-commenting.commenting-NavLink--mobileNav{
    color: #000;
}
.modal--container.mobile-modal{
    justify-content: flex-end;
}

.header--mobile-nav-mid-container{
    width: 50%;
    margin: 0 auto;
}
.header--mobile-nav-bottom-container{
    ul{
        height: 75%;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        padding: 0;
        justify-content: space-around;
        li{
            &:last-of-type{
                position: absolute;
                bottom: 5px;
            }
        }
    }
}
// Media Qs

@media only screen and (width: 1024px) and (height: 1366px){
    .mobile-nav--greeting-box--image {
        width: 90%;
        img{
            height: 75px;
            width: 75px;
        }
    }
    .mobile-nav--greeting-box-info {
        font-size: 1.1rem;
    }
    .mobile--nav--settings--container .modal--settings {
        height: 80px;
        margin: unset;
    }
    .mobile--nav--settings--container .modal--settings span {
        border-top: 0.5px solid #b3ecff!important;
    }
}
